button {
    background-color: #CBECFF;
    color: #0C78B3;
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    /* padding: .5rem 1rem; */
    border: none;
}

button:hover {
    background-color: #B9E5FF;
    color: #0C78B3;
}

.small {
    padding: .25rem .5rem;
}

.negative {
    background-color: transparent;
    font-family: SourceSansPro-Regular;
    line-height: 1rem;
    /* padding: .5rem 1rem; */
    border: none;
    font-size: 1rem;
    color: #C0392B;
    text-align: center;
    line-height: 16px;    
}

.negative:hover {
    background-color: #FFD0CB;
    /* color: #000000; */
    color: #C0392B;
    border-radius: 2px;
}