button {
    background-color: #CBECFF;
    color: #0C78B3;
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    padding: .5rem 1rem;
    border: none;
}

button:hover {
    background-color: #B9E5FF;
    color: #0C78B3;
}